<header class="mb-5">
  <!-- Background image -->
  <div
    class="p-0 text-center bg-image container-fluid"
    style="
      background-image: url('../../../../assets/images/bg_3_cut.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 200px;
      width: auto;
    "
  >
    <div
      style="background-color: rgba(0, 0, 0, 0.3)"
      class=" d-flex justify-content-center align-items-end h-100 w-100">
      <div>
        <h6><a href="#" class="mb-3 text-light">Home</a></h6>
        <h1 style="font-family: 'Playfair Display'" class="text-light">
          Service
        </h1>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>

<div class="container">

  <div class="row justify-content-center mb-4 mt-5">
    <div class="col-md-7 heading-section text-center">
      <h2>List</h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-12 text-center">
      <h2><a routerLink="/furama/facility/create" class="btn btn-primary">new service</a></h2>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-4" *ngFor="let facility of facilityList">
      <div class="room">
        <a href="rooms-single.html" class="img d-flex justify-content-center align-items-center"
           style="background-image: url(../../../../assets/images/room-1.jpg);">
          <div class="icon d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </div>
        </a>
        <div class="text p-3 text-center">
          <h3 class="mb-3"><a href="rooms-single.html">{{facility.name}}</a></h3>
          <p><span class="price mr-2">${{facility.cost}}</span> <span class="per">{{facility.rentType.name}}</span></p>
          <ul class="list">
            <li><span>Type:</span>{{facility.facilityType.name}}</li>
            <li><span>Max:</span>{{facility.maxPeople}}</li>
            <li><span>Size:</span>{{facility.area}}</li>
          </ul>
          <hr>
          <p class="pt-1"><a href="service-edit.html" class="btn-custom">Edit <span
            class="icon-update"></span></a></p>
          <hr>
          <p class="pt-1"><a href="room-single.html" class="btn-custom">Delete <span
            class="icon-delete"></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
