<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>list</title>
</head>
<body>

<div class="container">
  <!--tiêu đề-->
  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <h1>Danh sách xe đăng ký ở bến xe Đà Nẵng</h1>
    </div>
  </div>

  <!--Search-->
  <div class="row mt-3">
    <div class="col-lg-3">
      <a routerLink="/my-exam/create" type="button" class="btn btn-primary shadow me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-plus" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
          <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
      </a>
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-3">
      <select #typeId class="form-select shadow" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-lg-3">
      <div class="d-flex shadow">
        <input #name class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!--Table-->
  <div class="row mt-3">
    <div class="col-lg-12">
      <table class="table shadow">
        <thead class="text-white">
        <tr class="table-secondary">
          <th scope="col">#</th>
          <th scope="col">số xe</th>
          <th scope="col">Loại xe</th>
          <th scope="col">Tên nhà xe</th>
          <th scope="col">Điểm đi</th>
          <th scope="col">Điểm đến</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Email</th>
          <th scope="col">Giờ đi</th>
          <th scope="col">Giờ đến</th>
          <th class="text-center" scope="col">Chức năng</th>
        </tr>
        </thead>
        <tbody class="table-light">
        <tr *ngFor="let car of carList, index as i">
          <th>{{i + 1}}</th>
          <td>{{car.licensePlates}}</td>
          <td>{{car.typeCar}}</td>
          <td>{{car.agency}}</td>
          <td>{{car.begin}}</td>
          <td>{{car.end}}</td>
          <td>{{car.phone}}</td>
          <td>{{car.email}}</td>
          <td>{{car.startTime}}</td>
          <td>{{car.endTime}}</td>
          <td class="text-center">
            <a [routerLink]="['/my-exam/edit/', car.id]" class="btn btn-light shadow me-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
            </a>
            <button (click)="deleteConfirm(car)" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-12">
      <button (click)="previous()">previous</button>
      <span>{{page + 1}}</span> / <span>{{total}}</span>
      <button (click)="next()">next</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="carDelete">
        <p class="fw-bold">Bạn có chắc muốn xóa xe có biển số {{carDelete.licensePlates}} ?</p> <br>
        <p class="text-danger">cảnh báo, thao tác này không thể hoàng lại!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button (click)="delete(carDelete)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Có</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>


